@mixin button_blau {
    border: 0.1875rem solid $uni-blau;
    color: #fff;
    background: $uni-blau;
}

@mixin button_blau_hover {
    border: 0.1875rem solid $uni-blau-hell;
    color: $uni-blau;
    background: #fff;
}

body {
    // Font styling:
    font-family: myriad-pro, sans-serif !important;
    color: $uni-blau;

    a {
        color: $uni-blau;
        text-decoration: none;
        border-bottom: .1875rem solid lightgray;

        &:hover {
            color: #455d82;
            border-color: $uni-blau-hell;
            text-decoration: none;
        }
    }

    #wrap {
        padding-bottom: unset;
    }
}

// HEADER:
header {
    display: flex;

    nav {
        margin-left: auto;

        .navigation.nav-menu {
            border: none;
        }

        .nav-item > a {
            border: none;

            &:hover {
                text-decoration: none;
                border-bottom: 0.1875rem solid $uni-blau;
            }
        }
    }
}

// FOOTER:
footer {
    background: $uni-blau;
    color: $uni-blau-hell;
    padding: 2rem;
    margin-top: 48px;

    a {
        border-bottom: none;
    }

    li {
        float: left;
        list-style-type: none;
        margin-right: .75rem;

        a {
            text-decoration: none;
            color: $uni-blau-hell;

            &:hover {
                color: #fff;
                text-decoration: none;
                border-bottom: .1875rem solid $uni-blau-hell;
            }
        }
    }

    .logos {
        text-align: right;

        .logo1,
        .logo2 {
            display: inline-block;
        }

        .logo2 {
            .hosted {
                display: block;
                text-align: left;
            }
        }

        .ub-logo {
            height: 50px;
        }

        .uni-logo {
            height: 50px;
            margin-right: 20px;
        }
    }
}